#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($userName = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($errorMessage = $authenticationContext.getSubcontext('net.kvak.shibboleth.totpauth.api.authn.context.TokenUserContext').getErrorMessage())
#set ($state = $authenticationContext.getSubcontext('net.kvak.shibboleth.totpauth.api.authn.context.TokenUserContext', true).getState())
##
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>#springMessageText("idp.title", "Web Login Service")</title>
  <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">

#if( "$errorMessage" != "")
<style>
p.error {
    color: red;
    font-weight:bold;
}
</style>
#end

</head>
<body>
  <div class="wrapper">
    <div class="container">
      <header>
        <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
      </header>

      <div class="content">
        <div class="column one">
          #parse("login-error.vm")


           <form action="$flowExecutionUrl" method="post">

            <div class="form-element-wrapper">
              <label for="tokenNumber">Token code</label>
              <input class="form-element form-field" id="j_tokenNumber" name="j_tokenNumber" type="text" autofocus>
            </div>

            <div class="form-element-wrapper">
              <button class="form-element form-button" type="submit" name="_eventId_proceed"
              onClick="this.childNodes[0].nodeValue='#springMessageText("idp.login.pleasewait", "Logging in, please wait...")'"
              >#springMessageText("idp.login.login", "Login")</button>
              <input type="hidden" name="state" value="$state" />
              #if ( "$state" == "REGISTER" )
                  <br><br><button type="submit" name="registerToken" formaction="$flowExecutionUrl&_eventId=RegisterToken">Register a new Token</button>
              #end
            </div>
          </form>
        </div>
    </body>
 </html>
